# <center>Pandas project</center>

### <center>Discovering Pandas is obligatory for Data analysis.<br>Le's see what we can do with one of the most famous dataset : Shark attacks !</center>

In [271]:
import pandas as pd
import re
import random

### Import and quick look at the dataset

In [272]:
data = pd.read_csv('GSAF5.csv', encoding="latin-1")
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

Shape and features

In [273]:
data.shape

(5992, 24)

In [274]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [275]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

Except the "Year" and "original order" columns, all the others contain texts.

### Columns cleaning

To prepare the Data cleaning, let's check how many empty cell there is in every column.

In [276]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

The columns "Unnamed: 22" and "Unnamed: 23" are curious and mostly empty. Let's examine what they contain.

In [277]:
data['Unnamed: 22'].fillna(0, inplace=True)
[x for x in data['Unnamed: 22'] if x!=0]

['stopped here']

In [278]:
data['Unnamed: 23'].fillna(0, inplace=True)
[y for y in data['Unnamed: 23'] if y!=0]

['Teramo', 'change filename']

As all the non empty cells does not contain any important information, I delete them.
<br> Next, I thought that the column "Case Number.2" could be a duplicate of "Case Number" and "Case Number .1"

In [279]:
data['Case Number.1'].equals(data['Case Number.2'].equals(data['Case Number']))

False

Apparently it's not the case. Let's dig a little deeper and examine if "Case Number.1" is similar to "Case Number.2"...

In [280]:
data['Case Number.1'].equals(data['Case Number.2'])

False

Let's dig a little deeper...

In [281]:
data['Case Number.1'].isin(data['Case Number.2']).value_counts()

True     5982
False      10
Name: Case Number.1, dtype: int64

After checking how many values are different (10),I chose to delete this column. Moreover, it does not contain information I can use for deeper analysis.
<br>I do the same process for "Case Number" and "Case Number.1".

In [282]:
data['Case Number'].equals(data['Case Number.1'])

False

In [283]:
data['Case Number'].isin(data['Case Number.1']).value_counts()

True     5979
False      13
Name: Case Number, dtype: int64

The result is the same as before, I will delete this column.
<br> Finally, I examine the ressemblance of "href formula" and "href". Are they duplicate ?

In [284]:
data['href formula'].equals(data['href'])

False

In [285]:
data['href formula'].isin(data['href']).value_counts()

True     5939
False      53
Name: href formula, dtype: int64

There is less than 10% difference between the column, I choose to keep the column "href".

In [286]:
data = data.drop(["Unnamed: 22", "Unnamed: 23","Case Number.1","Case Number.2","Time","href formula",'pdf','original order'], axis=1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

### Data cleaning

I think the "Date" column is important for my analysis. Let's check what it contains..

In [287]:
set(data['Date'].sample(n=30))

{'  30-Jul-2013',
 '02-Oct-11',
 '04-Jul-88',
 '05-Jun-05',
 '06-Dec-11',
 '07-Apr-64',
 '07-Jul-81',
 '09-Jun-68',
 '10-Jun-78',
 '10-Mar-25',
 '12-Nov-03',
 '14-Apr-88',
 '16-Jan-50',
 '17-Jul-01',
 '1779',
 '18-Oct-09',
 '1973',
 '21-Jul-07',
 '22-Jun-1898',
 '24-Jun-15',
 '24-Nov-2005-',
 '25-Aug-01',
 '25-Sep-00',
 '26-Sep-61',
 '27-Dec-58',
 '27-Jul-35',
 '27-Jul-91',
 '29-Jun-60',
 'Mid-Aug-1886',
 'Reported 02-May-1938'}

In [288]:
len(set(data['Date']))

5128

Well, it seems that the column contains a lot of unique values but also in many different format. 
<br> After many tries, I found that cleaning this column cell by cell was too much of a job. Incidentally, I saw that the column "Case Number" had a format that contains the date recorded. I use this column to create 3 columns with the date info (year, month, day). The column "Year1" will be useful to see if this process worked by comparing it with the existing column "Year".

In [289]:
try:
    data['Year_']=[d[0:4] for d in data['Case Number']]
except:
    data['Year_']='00'
try:
    data['Month']=[d[5:7] for d in data['Case Number']]
except:
    data['Month']='00'
try:
    data['Day']=[d[8:10] for d in data['Case Number']]
except:
    data['Day']='00'
data.loc[data['Year_'].str.contains('(?i)ND'),'Year_']='00'
data.loc[data['Year_'].str.contains('ND'),'Day']='00'
data.loc[data['Year_'].str.contains('ND'),'Month']='00'
data.sample(n=10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,href,Year_,Month,Day
4981,1923.00.00.b,1923-1924,1923,Unprovoked,PHILIPPINES,Manila Bay,Fort Drum,NaN,male,M,NaN,"FATAL, abdomen severely bitten. Airplane summo...",Y,NaN,"Pinchot in To the South Seas, citing M. Craig ...",http://sharkattackfile.net/spreadsheets/pdf_di...,1923,00,00
363,2014.01.26,26-Jan-14,2014,Provoked,AUSTRALIA,New South Wales,Umina Beach,Fishing,Richard O'Connor,M,NaN,Lacerations to ring and pinky fingers of his l...,N,1m shark,"Daily Telegraph, 1/29/2014",http://sharkattackfile.net/spreadsheets/pdf_di...,2014,01,26
4708,1934.07.11,11-Jul-34,1934,Boating,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,NaN,No injury to occupants Sharks continually foll...,N,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",http://sharkattackfile.net/spreadsheets/pdf_di...,1934,07,11
2340,1992.01.29.b,29-Jan-92,1992,Unprovoked,REUNION,La Saline-les-Bains,Revine-3-Bassins,Spearfishing,Richard Carnoy,M,NaN,Survived,N,1.8 m grey shark,G. Van Grevelynghe,http://sharkattackfile.net/spreadsheets/pdf_di...,1992,01,29
2988,1975.07.30.b,30-Jul-75,1975,Sea Disaster,USA,Oregon,NaN,Sea disaster,Grace Conger,F,62,"FATAL, arms & legs bitten",Y,NaN,"Times, 8/1/1975, Yuma Daily Sun, 8/1/1975",http://sharkattackfile.net/spreadsheets/pdf_di...,1975,07,30
3789,1960.02.07,07-Feb-60,1960,Provoked,AUSTRALIA,New South Wales,Wattamolla National Park,Spearfishing,John Gilles & Harry Dowswell,M,20,"No injury, speared shark towed Gilles 200 yard...",N,"Grey nurse shark, 2.9 m [9'6""]",Unidentified press clipping;. SAF Case #203,http://sharkattackfile.net/spreadsheets/pdf_di...,1960,02,07
2839,1980.06.26,26-Jun-80,1980,Provoked,USA,California,"Off San Clemente Island, Los Angeles County",Scuba diving,Valerie Taylor,F,44,Laceration to lower leg PROVOKED INCIDENT,N,Blue shark,"The Australian Women's Weekly, 10/1/1980",http://sharkattackfile.net/spreadsheets/pdf_di...,1980,06,26
217,2015.03.29,29-Mar-15,2015,Invalid,ITALY,Sardinia,NaN,Diving,Eugenio Masala,M,43,"FATAL, but shark involvement prior to death un...",Y,Shark involvement not cofirmed,"A. de Maddalena, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,2015,03,29
5775,1844.07.20.,20-Jul-1844,1844,Unprovoked,NAMIBIA,NaN,NaN,Boat capsized,a seaman from HMS Isis,M,NaN,FATAL,Y,NaN,"Colonial Times, 5/24/1845",http://sharkattackfile.net/spreadsheets/pdf_di...,1844,07,20
5771,1845.12.26,26-Dec-1845,1845,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Fishing,John Williams,M,NaN,FATAL,Y,NaN,The Maitland Mercury & Hunter River General Ad...,http://sharkattackfile.net/spreadsheets/pdf_di...,1845,12,26

In [290]:
data['Year_'] = data['Year_'].astype(int, errors='ignore')

In [291]:
data['Year_'].isin(data['Year']).value_counts()

False    5992
Name: Year_, dtype: int64

Cool, the two columns match ! It is safe to assume the date informations are correctly restored.

In [292]:
data.drop(columns='Year_', inplace=True)

The "Date" column will be be more explicit if it's called "Date comment".

In [293]:
data.rename(columns={'Date': 'Date comment'}, inplace=True)

Let's now examine the "Fatal (Y/N)' column. It's important because it will inform us of the proportion of attack that were fatal.

In [294]:
set(data['Fatal (Y/N)'])

{' N', '#VALUE!', 'F', 'N', 'N ', 'UNKNOWN', 'Y', 'n', nan}

Let's clean these values. As the value UNKNOWN is pertinent, I chose to keep it and rename the column ('Fatal (Y/N/U)')

In [295]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.strip()
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].fillna('U')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('n', 'N')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('#VALUE!', 'U')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('F', 'Y')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('UNKNOWN', 'U')
data.rename(columns={'Fatal (Y/N)': 'Fatal (Y/N/U)'}, inplace=True)
print(set(data['Fatal (Y/N/U)']))

{'U', 'N', 'Y'}

I create a column "Number of victims" based on column "Name" because it is the only one that really gives the number of person attacked at each event.

In [296]:
data['Number of victims']=data['Name']
data['Number of victims'].fillna('Unknown', inplace=True)
data.head()

,Case Number,Date comment,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N/U),Species,Investigator or Source,href,Month,Day,Number of victims
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,09,18,male
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,09,18,Chucky Luciano
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,09,18,male
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,09,17,Rory Angiolella
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,09,15,male

Now, let's deduct the number of victim by the informations present in the column. I focused ont the cells that contained several names or an entire phrase.

In [299]:

unknown=['boat','All on board perished in the crash','a charter fishing boat with James Whiteside and his party','6 m skiboat, occupants: P.A. Reeder & crew','6 m boat, occupants John Winslet & customers','5.4 m boat','5 m skiboat',"""40' fishing cutter""","40' bonito boat","4 boats","""30' cabin cruiser owned by Stefano Catalani""","25-foot cutter","""25' cutter""","""25' rigid-hulled inflatable boat, HI-2""","""24' yacht owened by  C.L. Whitrow""","""22' pleasure boat""","""20' boat of Frank Stocker""",'2 USAF 4-engine planes (an HC-54 & a HC-97) each with 12 onboard collided in mid-air at low altitude and plunged into the Atlantic Ocean',"2 boats","""18' boat of Morris Vorenberg""","""16' launch""","""16' cabin cruiser with 35 hp outboard motor""","""15' boat""","""14' boat, occupant: Jonathan Leodorn""",'14-foot boat Sintra',"""12' dinghy""","""12' boat of Alf Laundy""",'10m boat Lucky Jim',"""10' dinghy""",'10.7 m boat. Occupants: John Capella & friends','Because of a mistaken belief that there were no survivors and several other successive errors, of the 100 to 150 men who survived the sinking, only 11 were rescued. Four of the Sullivan brothers died in the initial blast. ','boat','boat  Marie',"""Boat “Coca Cola”""","boat crew","boat Live N Hope","boat of Al Hattersly","""Boat of Captain Forman White,"boat of Scot's College rowers""","boat of Thomas Baker","boat of Wally Gibbons","Boat owned by Ricardo Laneiro","Boat with tourists onboard","boat x 2",'boat, occupants, P. Groenwald and others','boat, occupants: Jacob Kruger & crew','boat: Lady Charlotte, occupants: C. McSporran & his crew','Crew of Anti-submarine Squadron 23','crew','Haitian refugees perished when their boat capsized in choppy seas','males','males (wearing armor)','males, shark fishermen','mate & crew','multiple bathers','multiple boats including B.J. C. Brunt','No details','Occupants of skin boats','Passenger & crew','Passenger ferry Norman Atlantic','passenger in an automobile','pilot boat, occupants; Captain McAlister & crew','rowboat, ','rowboat, occupants: refugees fleeing Cuba','rowboats attacked by sharks','sailors','several Somali children','Severed human foot washed ashore (in sneaker with 2 Velcro closures)','ski-boat','skiboat','skiff, occupants: Russel J. Coles and others','slaves','surf patrol boat','Theodore Anderson’s captain & rest of crew taken by sharks']
zero_pers=['Jeff Wells claimed he rescued his "daughter" from a 4 m tiger shark']
one_pers=['After 2 days, Ann Dumas, 7,5 months pregnant, died of exposure & exhaution& her body was lashed to raft.','7.2 m boat. Occupant Kelvin Travers','5.75 m wooden boat, occupant: Yoshaiaki Ueda','5.4 m boat, occupant: Ivan Anderton','5 m skiboat; Stephanie','4.9 m fibreglass boat. Occupant: Jack Siverling',"""4.5 m boat, occupant: Rodney Lawn""","4.3 m skiff, occupant: Bob Shay","4-m runabout. Occupant: Allen Gade","""24' boat Shark Tagger Occupant Keith Poe""","22-ft boat.  Occupant Captain Scott Fitzgerald","""17' boat, occupant:  Richard Wade""","""16' skiff, occupant: W.A. Starck, II""","""16' Dreamcatcher. Occupant: Ian Bussus""","""16' boat, occupant: W. Lonergan""","""15-foot boat: occupant Woodrow Smith""","""14' catamaran, occupant: M. Leverenz""","""12' skiff, occupant: E.R.F. Johnson""","""12' boat Sio Ag, occupant: John Riding""",'12 m fishing boat. Occupant: Henry Tervo',"""10' rowboat, occupant: John Stephensen""",'British sailor from the  F-107','Arthur E. Taylor, a navy diver & member+G1053 of a 24-man demolition team',"""boat: 48' charter boat  GonFishin V""","""boat: 69.5' trawler Christy Nichole""",'British sailor from the  F-107','Robert W. McGhee, Private 1st Class, 8th Infantry','Sailor of tuna vessel No.12 Taiyo Marei','U.S. soldier in 161st Infantry Regiment, 25th Infantry Division','William Mills, a British solider, 36th Regiment']
two_pers=['a male & a female','a launch, occupants- Albert Cree & John Blacksall','8m inflatable boat. Occupants: Bhad Battle & Kevin Overmeyer','7 m boat, occupants: Tara Remington & Iain Rudkin','6 m boat: occupants  Stephen & Andrew Crust','5.4 m fibreglass boat, occupants: Robert & James Hogg','5 m skiboat Stephanie, occupants: Fanie Schoeman and Brigadier Bronkhorst','5 m skiboat Graanjan, occupants: Rudy van Graan, Jan de Waal Lombard','5 m boat, occupants: Don & Margaret Stubbs','5 m aluminum dinghy - occupants Mr. & Mrs. Paul Vickery',"""4.3 m skiff: occupants: James L. Randles, Jr. & James Myers""","""35' motor launch, occupants: Bill Fulham & T. Fanning""","""35' cruiser, Maluka II, occupants: Mr & Mrs E. Potts""","""3.5 -metre fibreglass boat, occupants: Harry Ulbrich and another fisherman""","""28' sea skiff, occupants: Alan Moree and another fisherman""","""22' boat, occupants: Saul White & Charles Dillione""","""20' boat; occupants: John Wright & a friend  ""","""19' clinker-built craft. Occupants: Ray Peckham & Mr. L.C. Wells""","""19' boat, occupants: Ray Peckham, L.C. Wells""","""18' launch, occupants: 2 fishermen""","""18' boat, occupants William & Leslie Newton""","""18' boat, occupants Richard Gunther & Donald Cavanaugh""","""18 hp Boston Whaler boat, occupant: G. W. Bane, Jr.""","""17' fishing launch, occupants: A. Burkitt & C. Brooke""","""17' fishing boat; occupants 2 men""","""16' motor launch owned by A. & E. Norton""","""14' open boat: occupants Richard Crew & Bob Thatcher""","""14' dinghy, 2 occupants""","""14' boat, occupants: 2 men""","""12' to 14' dory, occupants: John D. Burns & John MacLeod""","""12' ski, occupants: Bill Dyer & Cliff Burgess ""","""12' open motor boat, occupants Jack Platt & Peter Keyes""","""12' boat,           2 occupants""",'12-foot dinghy Occupants: R. Hunt & a friend.',"""11.6 m fibreglass boat. Occupants: Tony DeCriston & Dan Fink""","""10' skiff. Occupants F. Whitehead & L. Honeybone""","""10' row boat occupants;  Douglas Richards & George Irwin""",'boat, occupants:  Andrew Peterson & Peter Jergerson','boat, occupants:  Mike Taylor & his son, Jack, age 9','boat, occupants: Alf Dean, Jack Hood & Otto Bells','boat, occupants: Boyd Rutherford & Hamish Roper','boat, occupants: C. Nardelli & son','boat, occupants: John Griffiths & Thomas Johnson','boat, occupants: P.D. Neilly & Charlton Anderson','boat, Occupants: William Smith & Thomas Martin','boat; occupants: T & G Longhi','boat:  occupants: Nazzareno Zammit & Emmanuel',"""Boat: 14' Sunfish. Occupants Josh Long &  Troy Driscoll'""",'Boat: occupants: David Lock & his father','Boat: occupants: Tim Watson & Allan de Sylva','Bombardier J. Hall, Private Green of the Sherwood Foresters & Captain C. O. Jennings, R.E. Anti-tank Regiment','Brian Sierakowski & Barney Hanrahan','Bruce Flynn & his dive buddy','canoe, occupants: Chris Newman & Stewart Newman','canoe. Occupants: Doreen Tyrell & Frederick Bates','Captain Baxter & Dick Chares','Carlos Humberto Mendez & Esteban Robles','Colleen Chamberlin & Scott Chamberlin','Colonel B. & Sub-Lieutenant D.','Conway Plough &  Dr. Jonathan Higgs','crayfish boat. Occupants: Dave & Mitchell Duperouzel:','Curran See & Harry Lake','Dave Hamilton-Brown & Ant Rowan','dinghy, occupants: aborigine & lighthouse keeper','dinghy, occupants: Willem & Jan Groenwald','Dinghy. Occupants: Jeff Kurr and Andy Casagrande','Earl Yager & Riley McLachlan','Elena Hodgson & Isaac Ollis','Emil Uhlbrecht & unidentified person','Ensio Tiira & Fred Ericsson, deserters from the French Foreign Legion','Fishing boat. Occupants: Yunus Potur & Ali Durmaz','Gene Franken & Maurice McGregor','hobiecat, occupants: Judy Lambert  & a friend','Ida Parker & Kristen Orr','inflatable boat, occupants: Rudolf Bokelmann and Sakkie Vermeulen','inflatable dinghy, occupants: Ben Cropp, J. Harding & T. Fleischman','inflatable dinghy, occupants: Craig Ward & Gavin John Halse','"Inflatable kayak Occupants:  Andrej Kultan & Steve Hopkins."',"""inflatable rescue boat. Occupants: Lauren Johnson &. Kris O'Neill""",'J.T. Hales and Kenneth J. Hislop, Australian Navy frogmen','James C. Beason & Calvin E. Smith, Jr.  spent 16 hours in life raft','John Parker & Edward Matthews','Juan & Alex Bueno','Karl Pollerer & Eric Eisesenid','Lobster boat, occupants: Mr. P. Valentine & Mr. J. van Schalkwyk ','Louis Zamperini  & Russell Phillips','Mayabrit, an ocean rowing boat. Occupants: Andrew Barnett & J.C.S. Brendana','Monte Robinson & Andrew McNeill','Mr. Child & a Kanaka','Ned & Pawn','Nicaso Balanoba & Julian Dona','Occupants: Ivan Angjus & Stevo Kentera','occupants: John Chandler & Walter Winters','Occupants: Luke Jones & James Sequin','Occupants: Scott & John Fulton','Philip Case & William B. Gray','plywood dinghy, occupants: Jack Deegan & Trevor Millett','Pollione Perrini & Fioravante Perini','rowboat, occupants: Bob Scott & John Blackwell ','rowboat, occupants: James Mitchell-Hedges & Raymond McHenry','Salvatore & Agostino Bugeja','Sgt James Lacasse & Sgt David Milsten, USAF divers','skiboat, occupants: Danie & Fanie Schoeman','skiff with Dr. William T. Healey, Dr. Henry Callahan on board','skiff, occupants: J. & A. Ayerst','Teresea Britton (on raft) & a man (on floating debris)','Tony Moolman and another surfer','Two stowaways on German steamer Vela','Waade Madigan and Dr Seyong Kim','wooden boat, occupants: Jack Bullman & Keith Campbell']
three_pers=['Andong & 2 others','a skill. Occupants George Lunsford & 2 companions','6 m skiboat, occupants: Terry McManus, Dan Clark and Blackie Swart','6 m Seaduce - Occupants: Allen Roberts, Jason Savage & Rob Lindsay.','6 m boat Suki Saki, occupants: E.C. Landells & 2 friends','5.5 m fibreglass boat, occupants: Steven Piggott and Kelvin & Brendan Martin','5 m aluminum boat, occupants: Ben Turnbull, Lia & Neville Parker',"""4 m dinghy, occupants: Cecil Holmes, Chris Augustyn & Allen Varley ""","3.8-m boat with 3 people on board","""21' boat sank. Occupants: Max Butcher, George Hardy & Peter Thorne""","2.4 m rowboat, occupants: Edgar Brown, Jerry Welz & Cornelius  Stakenburg","""17' fishing boat. Occupants, Bubba DeMaurice, his wife & daughter""","""13' dinghy, occupant S. Smith, Leenee Dee & Marie Farmer   ""","""12' boat. Occupants:  Capt. E.J. Wines, Maj. W. Waller & Larry Waller""",'boat, occupants; Carl Sjoistrom & 2 other crew','boat, occupants:  Nels Jacobson & Franklin Harriman Covert','boat, occupants: Captains Charles Anderson, Emit Lindberg & Oscar Benson','Boat: occupants: Matt Mitchell & 2 other people','Burgess & 2 seamen','Captain Angus Brown, his son & brother','Captain Eric Hunt, the cook & a French passenger','catboat. Occupants: Captain Tuppe & 2 young ladiesr','Chris Haenga, Wayne Rangihuna  & Tamahau Tibble','D. R. Nelson, J. Greenberg & S.H. Gruber','Fishing boat  Bingo III , occupants: Michael Perkins, George Hornack & Capt. Lonergan ','"Fishing boat.   occupants: Laz Hüseyin, Ali Osman & Tursun "','Josh Francou, Michael Brister & Paul Bahr','launch, occupant Clive Whitrow, Dick Kuhne & Jim Pergola','Motor boat, occupants: Quintus Du Toit, J.H. van Heerden & J.P. Marais','Occupants: Andrew & Ben Donegan & Joel Ryan, ','Occupants: Jack Munro, Quinton Graham & Donald Shadler','open boat, occupants: Robert Ruark, Hoyle Dosher & Elmer Adkins','Rowgirls, an ocean rowing boat. Occupants: Sally Kettle, Claire Mills & Sue McMillan','Storm King; occupants - George Bridge & 2 sons','William Clinton Carter, Jr. & 2 other men']
four_pers=["""A 'tinnie". Occupants :Paul Sweeny, Paul Nieuwkerdk, John and Mark Kik """,'7 m skiboat Alrehmah III, occupants: Adolph Schlechter & 3 friends','6 m skiboat, occupants: Alex Mamacos, Noel Glintenkamp, Tony Mountifield & Dillon Alexandra','4.8 m skiboat, occupants: C. Cockroft & 3 men','16-foot launch, occupants: George Casey, Jack Byrnes, Julian Reynolds & Denny Laverty','Bry & David Mossman & 2 friends','Claude Hadley, William Grundy, Albert Faulkner & Frederick Faulkner','Fishing vessel. Occupants Gerry Malabago, Mark Anthony Malabago & 2 others','Inflatable dinghy, occupants: Jasmine Wigley, Greg Wilkie, Phil Rourke & Fleur Anderson','Mini Haa Haar, fiberglass boat, occupants: William Catton, Anthony Green, Tony & Kylie Barnes','rowboat, occupant: Joe Whitted, Christopher Quevedo & 2 Willard Brothers','skiboat, occupants: Gustav Boettger, Clive Mason, Keith Murrison & Sweis Olivier','William Olsen, William Peterson, Albert Thomas & R. Zekoski']
five_pers=['Albert Battles, James Dean & 4 crew','4.8-metre skiboat, Occupants: Rod Salm & 4 friends','boat of Dennis Kemp & 4 other occupants','boat Sea Hawk, occupants: R. Roberts & 4 others','boat, occupants:  Mr. Goslin & 4 passengers','Crew of aircraft: McGreevy, Beakley, Rosenthal, Ryan & Hodge','fishing boat, occupants: Simon Hlope & 4 other men','skiboat Double One, occupants: Anton & Michelle Gets, Ray Whitaker, John & Lyn Palmer','surf boat, occupants: Ray Sturdy and 4 other fishermen']
six_pers=['7 m fishing boat Metoo, occupants: Nicky & Paul Goles & 4 friends','6 m catamaran, occupants: Peter Robertson, Beauchamp Robertson, Gerald Spence & 3 crew','5 m inflatable boat, occupants: Kobus Potgieter & 5 friends',"""4.8 m  boat Peggy, occupants: John Oktober, L.A. van Zyl and 4 others""",'dinghy, occupants: T. Shipston, T. Whitta, L Cox, T. Jones, R. Genet & W. Pearce','motor boat, occupants: Mr. & Mrs. Sidney M. Colgate and their three children, Bayard, Caroline and Margaret ','Occupants: Hamza Humaid Al Sahra’a & 5 crew',"""Paul Timothy Lovette, Dr. Neal Beardsley, James C. Russell, Harold H. Mackie, Dale Howard & Diego J. Terres on 42' Navy craft, Marie"""]
seven_pers=['boat, occupants: Joseph Fitzback & 6 passengers','The June, occupants Bunny Pendelbury and crew of 6']
eight_pers=['Wes Wiggins and 7 others on the boat, Sparetime','7.5 m boat, occupants: 8 men','8 US airmen in the water, 1 was bitten by a shark']
for u in unknown:
    data['Number of victims']=data['Number of victims'].replace(u,'00')
for one in one_pers:
    data['Number of victims']=data['Number of victims'].replace(one,'1')
for two in two_pers:
    data['Number of victims']=data['Number of victims'].replace(two,'2')
for three in three_pers:
    data['Number of victims']=data['Number of victims'].replace(three,'3')
for four in four_pers:
    data['Number of victims']=data['Number of victims'].replace(four,'4')
for five in five_pers:
    data['Number of victims']=data['Number of victims'].replace(five,'5')
for six in six_pers:
    data['Number of victims']=data['Number of victims'].replace(six,'6')
for seven in seven_pers:
    data['Number of victims']=data['Number of victims'].replace(seven,'7')
for eight in eight_pers:
    data['Number of victims']=data['Number of victims'].replace(eight,'8')
data['Number of victims']=data['Number of victims'].replace('boat Swift, occupants: Dolly Samuels & 8 other men','9')
data['Number of victims']=data['Number of victims'].replace('"21 m sportfishing vessel Seabiscuit. Occupants: Captain Louie Abbott & 2 dozen anglers"','25')
data['Number of victims']=data['Number of victims'].replace('"""15 Royal Canadian Airforce crew & 1 passenger"""','16')
data['Number of victims']=data['Number of victims'].replace('135 passengers & 13 crew','148')
data['Number of victims']=data['Number of victims'].replace('No survivors. 189 people were lost','295')
data['Number of victims']=data['Number of victims'].replace('Most were women & children','42')
data['Number of victims']=data['Number of victims'].replace('Mamerto Daanong, Tomas Inog & others','92')
data['Number of victims']=data['Number of victims'].replace('male + 20','21')
data['Number of victims']=data['Number of victims'].replace('At least 29 (and possibly another 71) Somali & Ethiopian refugees','90')
data['Number of victims']=data['Number of victims'].str.extract('(\d+)')

Now that the 'exceptions' are corrected, I fill the remaining cells by 1 because they contain the name of only 1 person.

In [301]:
data['Number of victims'].fillna('1', inplace=True)
data['Number of victims']=data['Number of victims'].replace('00','Unknown')
data['Number of victims']=data['Number of victims'].astype('int')
set(data['Number of victims'])

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 20,
 21,
 23,
 28,
 31,
 40,
 42,
 48,
 65,
 68,
 69,
 90,
 92,
 130,
 148,
 200,
 206,
 295}

After creating this new column, I notice that in the "Name" column there is some informations that should be in the "Sex" column.

In [303]:
set(data['Name'].sample(n=30))

{"18' launch, occupants: 2 fishermen",
 '5.4 m boat, occupant: Ivan Anderton',
 'Benjamin Brown',
 'Captain George Jacob Hanscheldt',
 'Charles Edwards',
 'Cheryl Teague',
 'Clair Parrett',
 'Colette Wilson',
 'Cornelius Conhlren',
 'Gerald Rauch',
 'Jeffrey Francis Sasche (or Sachse)',
 'Lorenzo Kroutz ',
 'Lorraine',
 'Matt Baker',
 'Matthew Cassaigne',
 'Peter Barron',
 'Ramdayal',
 'Sammy Mira',
 'Steve King',
 'Thomas Darilek',
 'Vaughn Hill',
 'William Bartlett',
 'Zak Kedem',
 'a seaman from the John and Lucy',
 'female',
 'male'}

Let's check if these informations are not contradictory with the "Sex" column.
<br> First, there is something we don't like in Data cleaning : a space in the column's name!

In [304]:
data.rename(columns={'Sex ': 'Sex'}, inplace=True)

After that, let's clean the various form of sex informations present in the "Name" column and extract them in another column named "name_corrected".

In [139]:
def correct_name(row):
    if row["Name"] == "girl" or row["Name"] == "Girl":
        return "F"
    elif row["Name"] == "boy" or row["Name"] == "Boy":
        return "M"
    elif row["Name"] == "male" or row["Name"] == "Male":
        return "M"
    elif row["Name"] == "female" or row["Name"] == "Female":
        return "F"    
    else:
        return
    
data["name_corrected"] = data.apply(correct_name, axis=1)
# Filling the empty cells of Sex by the value in name_corrected
data.Sex.fillna(data.name_corrected, inplace=True)

In [140]:
data

,Case Number,Date comment,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N/U),Species,Investigator or Source,href,Year1,Month,Day,Number of victims,name_corrected
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,None
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,17,1,None
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,15,1,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M
5988,ND.0004,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5989,ND.0003,1900-1905,00,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5990,ND.0002,1883-1889,00,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5991,ND.0001,1845-1853,00,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M

In [141]:
# As some values of Name contradict those in Sex, I chose to transfer the value of Name to Sex
def error_sex(row):
    if row['name_corrected']=='F':
        return 'F'
    elif row['name_corrected']=='M':
        return 'M'
    else:
        return row['Sex']
data['Sex']=data.apply(error_sex, axis=1)
data

,Case Number,Date comment,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N/U),Species,Investigator or Source,href,Year1,Month,Day,Number of victims,name_corrected
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,None
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,17,1,None
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,15,1,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M
5988,ND.0004,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5989,ND.0003,1900-1905,00,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5990,ND.0002,1883-1889,00,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5991,ND.0001,1845-1853,00,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M

In [142]:
# Cheking the values in Sex
print(set(data['Sex']))

{'.', 'N', None, 'M', 'F', 'M ', 'lli'}

In [143]:
# Cleaning the data to keep M/F/UNKNWON
data['Sex'] = data['Sex'].str.replace('N', 'M')
data['Sex'] = data['Sex'].str.strip()
data['Sex'] = data['Sex'].fillna('Unknown')
data['Sex'] = data['Sex'].str.replace('lli', 'Unknown')
data['Sex'] = data['Sex'].str.replace('.', 'Unknown')
print(set(data['Sex']))

{'M', 'Unknown', 'F'}

In [144]:
# Deleting the values male and female in Name
data['Name'].fillna('Unknown', inplace=True)
data.loc[data['Name'].str.contains('male',na=False),'Name']='Unknown'
data.loc[data['Name'].str.contains('boy',na=False),'Name']='Unknown'
data.loc[data['Name'].str.contains('female',na=False),'Name']='Unknown'
data['Name']=data['Name'].str.replace('Anonymous','Unknown')
data['Name']=data['Name'].str.replace('Male','Unknown')
data['Name']=data['Name'].str.replace('fisherman','Unknown')
data['Name']=data['Name'].str.replace('Female','Unknown')
data['Name']=data['Name'].str.replace('crewman','Unknown')
data['Name']=data['Name'].str.replace('a young Scotsman','Unknown')
data['Name']=data['Name'].str.replace('a native ','')
data['Name'] = data['Name'].replace('\s+', ' ', regex=True)
#set(data['Name'])
data

,Case Number,Date comment,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N/U),Species,Investigator or Source,href,Year1,Month,Day,Number of victims,name_corrected
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,None
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,18,1,M
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,17,1,None
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016,09,15,1,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M
5988,ND.0004,Before 1903,00,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5989,ND.0003,1900-1905,00,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5990,ND.0002,1883-1889,00,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,None
5991,ND.0001,1845-1853,00,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0,00,00,1,M

In [145]:
# Checking values in column Type
print(set(data['Type']))

{'Invalid', 'Boating', 'Boat', 'Sea Disaster', 'Provoked', 'Unprovoked'}

In [146]:
# Cleaning the data
data['Type'] = data['Type'].str.strip()
data['Type'] = data['Type'].str.replace('Boating','Boat')
data['Type'] = data['Type'].str.replace('Invalid','Unknown')
print(set(data['Type']))

{'Unknown', 'Boat', 'Sea Disaster', 'Provoked', 'Unprovoked'}

In [147]:
# Checking values in column Country
print(set(data['Country']))

{nan, 'ANGOLA', 'REUNION', 'UNITED KINGDOM', 'Coast of AFRICA', 'NORTHERN ARABIAN SEA', 'SLOVENIA', 'PERSIAN GULF', 'MAURITIUS', ' TONGA', 'OCEAN', 'LEBANON', 'RED SEA', 'CAYMAN ISLANDS', 'NEW ZEALAND', 'TURKS & CAICOS', 'PALAU', 'CAPE VERDE', 'MID-PACIFC OCEAN', 'TRINIDAD & TOBAGO', 'RUSSIA', 'ANTIGUA', 'GHANA', 'RED SEA / INDIAN OCEAN', 'MEXICO ', 'AUSTRALIA', 'OKINAWA', 'KENYA', 'VIETNAM', 'NORTH PACIFIC OCEAN', 'SAMOA', 'EQUATORIAL GUINEA / CAMEROON', 'VANUATU', 'NEW CALEDONIA', 'MALDIVE ISLANDS', 'GEORGIA', 'TASMAN SEA', 'CUBA', 'GUATEMALA', 'CENTRAL PACIFIC', 'AZORES', 'PORTUGAL', 'CYPRUS', 'HONDURAS', 'COOK ISLANDS', 'BAHREIN', 'PAPUA NEW GUINEA', 'MEDITERRANEAN SEA', 'RED SEA?', 'SAUDI ARABIA', 'INDIAN OCEAN', 'SOMALIA', 'NETHERLANDS ANTILLES', 'BRITISH NEW GUINEA', 'ISRAEL', 'INDONESIA', 'SOLOMON ISLANDS / VANUATU', 'BRITISH WEST INDIES', 'SYRIA', 'KOREA', 'ASIA?', 'ECUADOR', 'IRAN', 'ANDAMAN / NICOBAR ISLANDAS', 'FEDERATED STATES OF MICRONESIA', 'NORTHERN MARIANA ISLANDS', 'SENEGAL', 'St Helena', 'ATLANTIC OCEAN', 'CEYLON (SRI LANKA)', 'CURACAO', 'GABON', 'INDIA', 'URUGUAY', 'SAN DOMINGO', 'PARAGUAY', 'ALGERIA', 'NEW GUINEA', 'MONTENEGRO', 'KUWAIT', 'INDIAN OCEAN?', 'EL SALVADOR', 'THAILAND', 'FIJI', 'FRANCE', 'FALKLAND ISLANDS', 'BAY OF BENGAL', 'GULF OF ADEN', 'NICARAGUA ', 'ARGENTINA', 'NICARAGUA', ' PHILIPPINES', 'SINGAPORE', 'JAMAICA', 'LIBERIA', 'DOMINICAN REPUBLIC', 'TURKEY', 'MID ATLANTIC OCEAN', 'CRETE', 'COLUMBIA', 'SCOTLAND', 'ENGLAND', 'TONGA', 'LIBYA', 'CHINA', 'GUINEA', 'PANAMA', 'YEMEN', 'CANADA', 'COSTA RICA', 'PHILIPPINES', 'Fiji', 'GUYANA', 'JOHNSTON ISLAND', 'IRAQ', 'SUDAN', 'NORTH SEA', 'KIRIBATI', 'MEXICO', 'SRI LANKA', 'NORTH ATLANTIC OCEAN ', 'PUERTO RICO', 'NEVIS', 'DJIBOUTI', 'USA', 'Seychelles', 'UNITED ARAB EMIRATES', 'SOUTH ATLANTIC OCEAN', 'SIERRA LEONE', 'NORWAY', 'MOZAMBIQUE', 'CHILE', 'Sierra Leone', 'DIEGO GARCIA', 'SOLOMON ISLANDS', 'SEYCHELLES', 'MARTINIQUE', 'TUNISIA', 'Between PORTUGAL & INDIA', 'BRITISH VIRGIN ISLANDS', 'MADAGASCAR', 'VENEZUELA', 'CARIBBEAN SEA', 'ST. MARTIN', 'BARBADOS', 'PACIFIC OCEAN', 'GUAM', 'BELIZE', 'BAHAMAS', 'UNITED ARAB EMIRATES (UAE)', 'TANZANIA', 'MICRONESIA', 'MAYOTTE', 'AMERICAN SAMOA', 'EGYPT / ISRAEL', 'PACIFIC OCEAN ', 'EGYPT ', 'TAIWAN', 'SPAIN', 'FRENCH POLYNESIA', 'TUVALU', 'BURMA', 'MALTA', 'HAITI', 'JAPAN', 'GRAND CAYMAN', 'BRITISH ISLES', 'IRAN / IRAQ', 'IRELAND', 'GREECE', 'GREENLAND', 'YEMEN ', 'JAVA', 'SWEDEN', 'ITALY', 'SUDAN?', 'THE BALKANS', 'BERMUDA', 'ICELAND', 'MEDITERRANEAN SEA?', 'ITALY / CROATIA', 'ST. MAARTIN', 'ARUBA', 'WESTERN SAMOA', 'CROATIA', 'MARSHALL ISLANDS', 'ADMIRALTY ISLANDS', 'SOUTH AFRICA', 'GRENADA', 'SOUTHWEST PACIFIC OCEAN', 'SOUTH KOREA', 'NEW BRITAIN', 'SOUTH CHINA SEA', 'NORTH ATLANTIC OCEAN', 'SOUTH PACIFIC OCEAN', 'NAMIBIA', 'BRAZIL', 'BANGLADESH', 'MONACO', 'EGYPT', 'HONG KONG', 'MALAYSIA', 'NIGERIA', 'PALESTINIAN TERRITORIES'}

In [148]:
# Transforming lower case words in upper case
data['Country'].fillna('Unknown', inplace=True)
data['Country'] = data['Country'].str.upper()
print(set(data['Country']))

{'ANGOLA', 'REUNION', 'UNITED KINGDOM', 'NORTHERN ARABIAN SEA', 'SLOVENIA', 'PERSIAN GULF', 'MAURITIUS', ' TONGA', 'OCEAN', 'LEBANON', 'RED SEA', 'CAYMAN ISLANDS', 'NEW ZEALAND', 'TURKS & CAICOS', 'PALAU', 'CAPE VERDE', 'MID-PACIFC OCEAN', 'TRINIDAD & TOBAGO', 'RUSSIA', 'ANTIGUA', 'GHANA', 'RED SEA / INDIAN OCEAN', 'MEXICO ', 'AUSTRALIA', 'OKINAWA', 'KENYA', 'VIETNAM', 'NORTH PACIFIC OCEAN', 'SAMOA', 'EQUATORIAL GUINEA / CAMEROON', 'VANUATU', 'NEW CALEDONIA', 'MALDIVE ISLANDS', 'GEORGIA', 'TASMAN SEA', 'CUBA', 'GUATEMALA', 'CENTRAL PACIFIC', 'AZORES', 'PORTUGAL', 'CYPRUS', 'HONDURAS', 'COOK ISLANDS', 'BAHREIN', 'PAPUA NEW GUINEA', 'MEDITERRANEAN SEA', 'RED SEA?', 'SAUDI ARABIA', 'INDIAN OCEAN', 'SOMALIA', 'NETHERLANDS ANTILLES', 'BRITISH NEW GUINEA', 'ISRAEL', 'COAST OF AFRICA', 'INDONESIA', 'SOLOMON ISLANDS / VANUATU', 'BRITISH WEST INDIES', 'SYRIA', 'KOREA', 'ASIA?', 'ECUADOR', 'IRAN', 'ANDAMAN / NICOBAR ISLANDAS', 'FEDERATED STATES OF MICRONESIA', 'NORTHERN MARIANA ISLANDS', 'SENEGAL', 'CEYLON (SRI LANKA)', 'ATLANTIC OCEAN', 'CURACAO', 'GABON', 'INDIA', 'URUGUAY', 'SAN DOMINGO', 'PARAGUAY', 'ALGERIA', 'NEW GUINEA', 'MONTENEGRO', 'KUWAIT', 'INDIAN OCEAN?', 'EL SALVADOR', 'FIJI', 'THAILAND', 'FRANCE', 'FALKLAND ISLANDS', 'BAY OF BENGAL', 'GULF OF ADEN', 'NICARAGUA ', 'ARGENTINA', 'NICARAGUA', ' PHILIPPINES', 'SINGAPORE', 'JAMAICA', 'LIBERIA', 'DOMINICAN REPUBLIC', 'TURKEY', 'MID ATLANTIC OCEAN', 'CRETE', 'COLUMBIA', 'SCOTLAND', 'UNKNOWN', 'ENGLAND', 'TONGA', 'LIBYA', 'CHINA', 'GUINEA', 'PANAMA', 'YEMEN', 'CANADA', 'COSTA RICA', 'PHILIPPINES', 'GUYANA', 'JOHNSTON ISLAND', 'IRAQ', 'SUDAN', 'NORTH SEA', 'KIRIBATI', 'MEXICO', 'SRI LANKA', 'NORTH ATLANTIC OCEAN ', 'PUERTO RICO', 'NEVIS', 'DJIBOUTI', 'USA', 'UNITED ARAB EMIRATES', 'SOUTH ATLANTIC OCEAN', 'SIERRA LEONE', 'NORWAY', 'MOZAMBIQUE', 'CHILE', 'DIEGO GARCIA', 'SOLOMON ISLANDS', 'SEYCHELLES', 'MARTINIQUE', 'TUNISIA', 'BRITISH VIRGIN ISLANDS', 'MADAGASCAR', 'VENEZUELA', 'ST HELENA', 'CARIBBEAN SEA', 'ST. MARTIN', 'BARBADOS', 'PACIFIC OCEAN', 'GUAM', 'BELIZE', 'BAHAMAS', 'UNITED ARAB EMIRATES (UAE)', 'TANZANIA', 'MICRONESIA', 'MAYOTTE', 'AMERICAN SAMOA', 'EGYPT / ISRAEL', 'PACIFIC OCEAN ', 'EGYPT ', 'TAIWAN', 'SPAIN', 'FRENCH POLYNESIA', 'TUVALU', 'BURMA', 'MALTA', 'HAITI', 'JAPAN', 'GRAND CAYMAN', 'BETWEEN PORTUGAL & INDIA', 'BRITISH ISLES', 'IRAN / IRAQ', 'IRELAND', 'GREECE', 'GREENLAND', 'YEMEN ', 'JAVA', 'SWEDEN', 'ITALY', 'SUDAN?', 'THE BALKANS', 'BERMUDA', 'ICELAND', 'MEDITERRANEAN SEA?', 'ITALY / CROATIA', 'ST. MAARTIN', 'ARUBA', 'WESTERN SAMOA', 'CROATIA', 'MARSHALL ISLANDS', 'ADMIRALTY ISLANDS', 'SOUTH AFRICA', 'GRENADA', 'SOUTHWEST PACIFIC OCEAN', 'SOUTH KOREA', 'NEW BRITAIN', 'SOUTH CHINA SEA', 'NORTH ATLANTIC OCEAN', 'SOUTH PACIFIC OCEAN', 'NAMIBIA', 'BRAZIL', 'BANGLADESH', 'MONACO', 'EGYPT', 'HONG KONG', 'MALAYSIA', 'NIGERIA', 'PALESTINIAN TERRITORIES'}

In [149]:
data.rename(columns={'Species ': 'Species'}, inplace=True)
data['Species'].fillna('Unknown', inplace=True)

In [150]:
#Cleaning columns tests
data=data.drop('Date_alphab', axis=1)
data=data.drop('Year1', axis=1)
data=data.drop('name_corrected', axis=1)

KeyError: "['Date_alphab'] not found in axis"

In [ ]:
# Ordering the columns
data = data[['Case Number','Year','Month','Day','Date comment','Type','Country','Area','Location','Activity',
            'Name','Sex','Age','Injury','Fatal (Y/N/U)','Number of victims','Species','Investigator or Source','href']]
data

In [ ]:
data.to_csv('GSAF5_sol.csv', index=False)